---
import ProjectSvg from "./ProjectSvg.astro"
import { Image } from "astro:assets";
interface Project {
    title: string,
    description: string,
    frameworks: string[],
    langs: string[],
    hypertext: string,

}
let { title, description, frameworks, langs, hypertext } = Astro.props.project;
---

<a href={hypertext}>
    <button>
        <h2>{title}</h2>
        <ul class="">
            {langs.map((lang: string)=> <li><ProjectSvg id={lang}/></li>)}
        </ul>
        <ul>
            {frameworks.map((framework: string)=> <li><ProjectSvg id={framework}/></li>)}
        </ul>
        <p>{description}</p>
    </button>
</a>


<style>
   h2 {
       display: inline;
   }
   ul, ul li {
       display: inline;
       padding: 0;
       list-style: none;
       margin: 2px;
   }

   button {
       cursor: pointer;
       text-align: left;
       width: 100%;
       background-color: #262c35;
       border: solid white 1px;
       color: white;
       margin: 10px 0;
   }
   .dark, img {
       filter: invert(100%);
       color: white;
   }
   .light {
       filter: invert(0%);
       color: black;
   }
   button:hover {
       background-color: #262c45;
   }


   @font-family {
       font-family: 'Caparismo';
       src: url('/fonts/Caprasimo-Regular.ttf') format('tff');
       font-weight: normal;
       font-style: normal;
       font-display: swap;
   }
</style>
